[% title = "Welcome to Linkblog!" %]
[% INCLUDE header.tt %]
[% INCLUDE spine.tt %]

[% IF message %]
<FONT COLOR="RED">[% message %]</FONT>
[% END %]

<B>Please enter your email address:</B>
<FORM METHOD=GET>
<INPUT TYPE="HIDDEN" NAME="a" VALUE="r_pw2">
<INPUT TYPE="TEXT" NAME="email">
<INPUT TYPE="SUBMIT" Value="Submit">
</FORM>

[% INCLUDE footer.tt %]

