<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- $Id: header.tt,v 1.1.1.1 2010/08/14 04:57:50 wdr1 Exp $ -->
<head>
  <title>Wikified Beastie</title> 
  <link rel="stylesheet" type="text/css" href="main.css">   
</head>
<body>
<div class="title_header">
  <div class="title_header_1">Wikified Beastie</div>
  <div class="title_header_2">Examining Hip-Hop through Wikipedia & Perl</div>
</div>
<br>
