<div id="mainl">
  [% FOREACH a = artist.keys.sort %]
  <div class="left_nav">
    <h4 class="mar">[% a %]</h4>
  </div>
  <UL id="navlist">
    [% FOREACH album = artist.$a.album.keys.sort('year') %]
    <LI> <A HREF="#[% string_to_anchor( a, album ) %]">[% album %]</A>
    [% END %]
  </UL>
  [% END %]
    <div class="left_nav">
      <h4 class="mar">About</h4>
    </div>
    <UL id="navlist">
      <LI> Why
      <LI> FAQ
      <LI> Source
      <LI> Bitch
    </UL>
  </div>
