[%
  sections = (
    {
      'name' => 'Home',
      'url'  => '/',
    },
    {
      'name' => 'About',
      'url'  => '/about.shtml',
    },
    {
      'name' => 'Books',
      'url'  => '/books.shtml',
    },
  )
%]
<TABLE>
[% FOREACH s = sections %]
<TR><TD><A HREF="[% s.url %]">[% s.name %]</A></TD></TR>
[% END %]
</TABLE>