To: [% email %]

From: passwords@linkblog.org
Subject: Resetting Your Linkblog Password

As requested, here's a link through which you can reset your Linkblog password:

http://linkblog.org/?e=[% uri_email %]&a=r_pw3&i=[% id %]&t=[% time %]


This link will only be active for the next twenty-four hours.

If you didn't request, never fear.  Your existing password will continue to work.

Thanks for using Linkblog!

-Bill

